<footer class="footer">
   <div class="footer__container">
      <h2 class="footer__title">
         Ready to make something kickass? <br>
         <span>Let's get on a call.</span>
      </h2>
      <div class="footer__row">
         <div class="footer__info">
            <img src="@assets/logo-white.svg" alt="logo">
            <p>4353 Delaware Avenue, San Francisco, USA</p>
            <a href="mailto:hi@thefolio.com">hi@thefolio.com</a>
         </div>
         <nav class="footer__nav">
            <ul class="footer__nav-column">
               <li><a href=".blogs" goto-block>About</a></li>
               <li><a href="#">Contact</a></li>
               <li><a href="#">Dribbble</a></li>
            </ul>
            <ul class="footer__nav-column">
               <li><a href="#">Services</a></li>
               <li><a href="#">Blog</a></li>
               <li><a href="#">Instagram</a></li>
            </ul>
            <ul class="footer__nav-column">
               <li><a href="#">Experience</a></li>
               <li><a href="#">Projects</a></li>
               <li><a href="#">Twitter</a></li>
            </ul>
         </nav>
      </div>
      <div class="footer__copyright">
         © All rights reserved.
         Sumit Hegde
         . Powered by
         Webflow
         /
         Image License Info
         /
         Instructions
         /
         Changelog
         /
         Style Guide
      </div>
   </div>
</footer>