<header class="header">
   <div class="header__container">
      <nav class="header__nav">
         <a href="/" class="header__logo">
            <img src="@assets/logo.svg" alt="logo">
         </a>
         <div class="header__menu">
            <ul class="header__list">
               <li>
                  <a class="header__link" goto-block href=".intro">About</a>
               </li>
               <li>
                  <a class="header__link" goto-block goto-block-offset="80" href=".services">Services</a>
               </li>
               <li>
                  <a class="header__link" goto-block href=".projects">Projects</a>
               </li>
               <li>
                  <a class="header__link" goto-block href=".blogs">Blog</a>
               </li>
               <li>
                  <a class="header__link _icon-arrow" goto-block href=".footer">Book a call</a>
               </li>
            </ul>
            <div class="header__burger">
               <span></span>
            </div>
         </div>
      </nav>
   </div>
</header>